<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.bclass.token.model.dao.RefreshTokenMapper">

	<insert id="save">
		INSERT INTO refresh_token VALUES (SEQ_TNO.NEXTVAL, #{token}, #{expiration}, #{userNo})
	</insert>
	
	
	<select id="findByToken" resultType="com.kh.bclass.token.model.vo.RefreshToken" parameterType="string">
		SELECT ID id, TOKEN token, Expiration expiration, USER_NO userNo FROM refresh_token WHERE token = #{token}
	</select>
	
	<delete id="deleteExpiredTokens" parameterType="map">
	    DELETE FROM refresh_token
	    WHERE user_no = #{userNo} AND expiration <![CDATA[ < ]]> #{currentTimeMillis}
	</delete>
	
    
</mapper>